* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Nunito;
    src: url(Assets/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(Assets/Aleo-Regular.ttf);
}

@font-face {
    font-family: Aleo-light;
    src: url(Assets/Aleo-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

/* CABEÇALHO */
#cabecalho {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #FFF;
}

#cabecalho .cabecalho_sombra {
    height: 16px;
    background-color: #FFD233;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho_nav_itens {
    margin-left: 100px;
}

.cabecalho_nav_item {
    margin: 20px;
    background: #FFD233;
    font: 400 17px 'Aleo', serif;
    border-radius: 10px;
    padding: 9px 18px;
    color: #000;
}